@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@300;700&display=swap');
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #1FA652  ;
    --secondary-color: #377599 ;
    --accent1-color: #F4F1EC;
    --accent2-color: #1D5243;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'Pridi', sans-serif;
    --paragraph-font: 'Pridi', serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #1FA652;  /* headlines on a white background */ 
    --headline-color-on-color: #1FA652; /* headlines on a colored background */ 
    --paragraph-color-on-white: #377599; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #F4F1EC; /* paragraph text on a colored background */ 
    --paragraph-background-color: #1D5243  ;
    --nav-link-color: #1FA652;
    --nav-background-color: #1D5243;
    --nav-hover-link-color: #377599;
    --nav-hover-background-color: #F4F1EC;
  }
* {
    margin: 0;
    padding: 0;
}
body{
    margin: 20px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 20% 1fr;
    row-gap: 1vw;
    column-gap: 1vw;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}
p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
}
header{
    grid-column: span 2;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1em 1fr;
    max-height: 15%;
    column-gap: 2em;
    row-gap: 1em;
    
    

}
#inquiries{
    grid-column: 2/3;
    text-align: right;
    padding-right: 25px;
}
#logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-link #logo{
    grid-column: 1/2;
    grid-row: 2/3;
    max-width:100%;
}
.page-id-box{
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--headline-color-on-color);
    width: 100%;
    height: 100%;
    border-radius: 25px;
    z-index: -1;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
}
.header-text{
    display: inline;
    text-align: center;
    
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 0;
    color: var(--paragraph-color-on-color);
    font-size: 8vw;
}
nav {
    grid-column: 1/2;
    display: grid;
    
    border-radius: 25px;
    background-color: var(--nav-background-color);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 1vw;
    border: 1px solid black;
    row-gap: 2vw;
    box-shadow: 2px 2px 5px black;
    
}
.nav-item {
    display:flex;
    background-color: var(--nav-link-color);
    height: 4vw;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    
}
.nav-link {
    width: 100%;
    font-family: var(--paragraph-font);
    font-size: 2vw;
    font-weight: 700;
    color: var(--accent1-color);
    text-decoration: none;
    
    
    
}
.nav-item:hover {
    transform: scale(1.1);
}

    

#main-layout {
    display: grid;
    padding: 1.5vw;
    grid-template-columns: 1fr 1fr;
    row-gap: 1vw;
    
}
.body-text {
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1vw;
}
#intro-text {
    grid-column: span 2 ;
    font-size: 1.5vw;
}

#book-cover {
    justify-self: center;
    box-shadow: 2px 2px 5px black;
}
#forkiven {
    box-shadow: 2px 2px 5px black;
}
    



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    background-color: var(--nav-hover-link-color);
    height: 5vw;
    box-shadow: 2px 2px 5px black;
    font-family: var(--paragraph-font);
    font-size: 1vw;
    font-weight: 700;
    
}
footer a {
    color: var(--accent1-color)
}
.row {
    
    display: grid;
    grid-template-columns: 400px 400px;
    row-gap: 50px;
    justify-items: center;
    margin-top: 2vw;
    
}
#oneleft {
    justify-items: left;
}
.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
    justify-items: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .75);
    
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 75%;
    max-width: 800px;
    
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
    
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: var(--accent2-color);
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    
  }


  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
    max-width: 200px;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  .hover-shadow {
    box-shadow: 2px 2px 5px black;
  }
  .hover-shadow:hover {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 5px solid var(--nav-hover-link-color);
  }
  #pricing-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2vw;
  }
  .packages {
    background-color: var(--headline-color-on-color);
    color: var(--paragraph-color-on-color);
    padding: 2vw;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;


  }
  .packages h2 {
    color: var(--nav-hover-background-color);
    font-size: 2vw;
  }
  .packages li{
    font-size: 1vw;
  }